body{
    margin: 0;
    padding: 0;
}

.main-container{
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

canvas{
    background-color: white;
}

.btn-send{
    width: 150px;
    padding: 0.5rem;
    background-color: green;
    margin-top: 1rem;
}